// Custom.scss
// Include all of Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

body {
  padding-top: 40px;
  position: relative;
}

main {
  p, li {
    font-size: 1.2rem;
    line-height: 1.8;
  }
}

nav#navbar-header {
  background-color: $teal;
}

section {
  padding: 30px 0;
}

.tweets {
  margin: 0 auto;
  padding: 6px 10px;
  border: 1px solid #999999;
  border-radius: 6px;
}

.slide-thumbnail {
  width: 16rem;
  margin-top: 10px;
}
