// Custom.scss
// Include all of Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

body {
  padding-top: 40px;
  position: relative;
  color: #333;
}

main {
  p, li {
    font-size: 1.2rem;
    line-height: 1.8;
  }
}

nav#navbar-header {
  background-color: $teal;

  a.nav-item {
    color: $white;
  }
}

section {
  padding: 30px 0;
}

section#hero {
  background-image: url(./hero-spring.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 160px 0;

  h1 {
    color: $teal;
    text-shadow: 3px 3px 0 $white;
  }
  p {
    color: $white;
    text-shadow: 0 0 3px $black;
  }
}

.slide-thumbnail {
  width: 16rem;
  margin-top: 10px;
}
